
.mapContainer{
    position:inherit;
    width:100%;
    height: 80vh;
    overflow: auto;
    margin: auto auto;
    margin-top: 2rem;
}
.positionDiv{
    align-content: center;
    margin: auto auto;
    position: relative;
    width: 105vh;
    height: 85vh;
}

#map *{
    overflow: visible;
}

