.mapContainer{
    position: fixed;
    overflow: hidden;
    margin: auto auto;
    height: 25vh;
    width: 35vh;
   font-size: smaller;

}

.mainContiner{
    margin: auto auto;
}
#map *{
    overflow: visible;
}


