@font-face {
  font-family: "Nunito Regular";
  src: url(./assets/fonts/Nunito-Regular.ttf);
}
@font-face {
  font-family: "Nunito Medium";
  src: url(./assets/fonts/Nunito-Medium.ttf);
}
@font-face {
  font-family: "Nunito SemiBold";
  src: url(./assets/fonts/Nunito-SemiBold.ttf);
}
@font-face {
  font-family: "Nunito Bold";
  src: url(./assets/fonts/Nunito-Bold.ttf);
}
@font-face {
  font-family: "Nunito Black";
  src: url(./assets/fonts/Nunito-Black.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  background-color: rgb(250 250 250);
}

:root {
  --white: #fff;
  --google-blue: #4285f4;
  --button-active-blue: #1669f2;
}

.google-btn {
  width: 184px;
  height: 42px;
  background-color: var(--google-blue);
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: var(--white);
}

.google-btn .google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}

.google-btn .btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: var(--white);
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}

.google-btn:hover {
  box-shadow: 0 0 6px var(--google-blue);
}

.google-btn:active {
  background: var(--button-active-blue);
}

@import url(https://fonts.googleapis.com/css?family=Roboto:500);
