.chat {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat-container {
  flex: 1;
  overflow-y: scroll;
  padding: 10px;
}

.chat-message {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.chat-message-admin {
  align-self: flex-end;
  text-align: right;
}

.chat-message-text {
  background-color: #eee;
  border-radius: 5px;
  padding: 5px;
  margin: 0;
  max-width: 70%;
}

.chat-input-container {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: #ddd;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.chat-input {
  flex: 1;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
}

.chat-send-button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}