.title{
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
  }
  .menu-tbl{
    width:96%;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    border-radius: 5px;
  }

.add_pdct {
    padding: 10px 20px;
    margin-bottom: 10px;
    float: right;
    margin-right: 30px;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    background-color: rgba(53, 39, 68, 1);
}
.add_pdct:hover{
    background-color: #ff8243;
}
 
  .tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
  }
  .menu-th{
    padding: 20px 15px;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    color: rgb(255, 255, 255);
    /* text-transform: uppercase; */
    background-color: rgba(53, 39, 68, 1);
  }
  .menu-dta-tr{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 13px;
    color: rgb(0, 0, 0);
    border-bottom: solid 1px rgba(255,255,255,0.1);
    background-color: rgb(255, 255, 255);
  }

  .edit {
  appearance: none;
  background-color: #add8e6;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  color:#414a4c;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin-right: 20px;
}

.edit:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

/* .edit:hover {
  background-color: #98b612;
} */

/* .editfocus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
} */

/* .edit:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
} */

.edit:active {
  background-color: #8ab9f1;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.del {
    appearance: none;
    background-color: #f6adc6;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    color:#d3003f;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    margin-right: 20px;
  }
  
  .del:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  /* .del:hover {
    background-color: #cd5700;
  } */
  
  /* .del-focus {
    box-shadow: rgba(255, 255, 255, 0.4) 0 0 0 3px;
    outline: none;
  } */
  
  /* .del:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  } */
  
  .del:active {
    background-color: #cf71af;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }

  /* demo styles */
  
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
  body{
    
    font-family: 'Roboto', sans-serif;
  }
  section{
    margin: 50px;
  }
  
  .made-with-love {
    margin-top: 40px;
    padding: 10px;
    clear: left;
    text-align: center;
    font-size: 10px;
    font-family: arial;
    color: #fff;
  }
  .made-with-love i {
    font-style: normal;
    color: #F50057;
    font-size: 14px;
    position: relative;
    top: 2px;
  }
  .made-with-love a {
    color: #fff;
    text-decoration: none;
  }
  .made-with-love a:hover {
    text-decoration: underline;
  }
  
  
  /* for custom scrollbar for webkit browser*/
  
  ::-webkit-scrollbar {
      width: 6px;
  } 
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  } 
  ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  }