@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Merienda:wght@500&display=swap');

body{
  
  /* background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%); */
  background-color: #000000; 
  /* background-image: linear-gradient(to right, #434343 0%, black 100%);
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 background-blend-mode: multiply; */
  font-family: 'Mulish', sans-serif;
  
}

/* CSS for footer */
.footer {
  background-color: #131313;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;
}

.footer .copy {
  
  color: #fff;
  font-size: 20px;
}

.bottom-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}

.bottom-links .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.bottom-links .links span {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0;
}

.bottom-links .links a {
  font-size: 20px;
  text-decoration: none;
  color: #a1a1a1;
  padding: 10px 20px;
}


/* CSS */
.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 30px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.navbar-nav{
  margin:auto;
}

.nav-link{
  font-size: 40px;
  color: #ffffff;
  padding-left: 20%;
}

.btn-outline-success {
  margin-right: auto;
  color: #1a1818;
  background-color: #498e29;

}

.nav-item{
  font-size: 25px;
  padding: 4%;
  margin: 2%;
  
}

.nav-item:hover{
  color: #ffffff;
}

.navbar{
  height: 125px;
}
nav{
  margin-bottom: 15%;
}




