.Notification {
  display: flex;
  min-width: 280px;
  max-width: 280px;
  position: absolute;
  background: white;
  margin-left: 75%;
  z-index: 1000;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  
  border-radius: 5px;
}

.Notification ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Notification li {
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.Notification li:last-child {
  border-bottom: none;
}

.Notification li strong {
  font-weight: bold;
}

.Notification li.warning {
  color: #ff9800;
  font-weight: bold;
}
